body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  display: flex;
  justify-content: center;
}

.trivia-container {
  background: white;
  width: 350px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
  margin-top: 120px;
}

h2 {
  margin-top: 0;
  color: #003366;
  font-size: 26px;
  display: flex;
  justify-content: center;
}

#question {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
  color: #003366;
}

#choices {
  margin-bottom: 20px;
}

#choices button {
  width: 100%;
  background: #eef4ff;
  border: 2px solid #003366;
  border-radius: 8px;
  padding: 10px;
  margin: 6px 0;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

#choices button:hover {
  background: #dfe9ff;
  transform: scale(1.02);
}

#result {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #003366;
}

#nextBtn {
  background-color: #003366;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

#nextBtn:disabled {
  background-color: #7a8ca8;
  cursor: default;
}

#nextBtn:hover:not(:disabled) {
  background-color: #004a99;
}