{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team Blog | ClassForum+</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="icon" type="image/png" href="{% static 'Imaging-Website-Icons-1.webp' %}">
</head>

<body>
  <header>
    <h1>Team Progress Blog</h1>
    <nav>
      <a href="{% url 'index' %}">Forum</a>
      <a href="{% url 'games' %}">Mini Games</a>
      <a href="{% url 'team' %}">Team Blog</a>
    </nav>
  </header>

  <main>
    <section class="team-section">
      <h2>Our Weekly Updates</h2>

      <article>
        <h3>Step 1: Getting Started</h3>
        <p>We brainstormed ideas and decided to create a class forum with mini-games. We divided tasks and set up our
          file structure. Our goal is to create an interactive site where ourselves and our classmates will be able to
          access and create their own posts, play mini-games and more to come!.</p>
      </article>

      <article>
        <h3>Step 2: Forum Base</h3>
        <p>We built the basic HTML structures that we needed in order to create the mini-games and the forum, started on
          CSS styling to make the page look more professional, and finally we began planning the logic behind the
          mini-games. We know it will have to be kept simple.</p>
      </article>

      <article>
        <h3>Step 3: Finishing Game Development</h3>
        <p>We finished developing the two-player tic tac toe game along with the trivia questions by using HTML for the
          structure, JavaScript for the interactive gameplay and styling it with CSS to make it more appealing for the
          user. We also added an image icon to our website for a more complete look.</p>
      </article>

      <article>
        <h3>Step 4: Backend & Database Integration</h3>
        <p>We focused on enabling persistent storage for the forum posts by transitioning our project to a Django backend.
          After facing compatibility issues with Flask we successfully restructured the project by organizing HTML files
          into a 'templates' directory and moving CSS and JavaScript to a 'static' directory. We also configured the
          local database and updated the README with clear instructions so anyone can run the server locally.</p>
      </article>

    </section>
  </main>

  <footer>
    <p>Follow our journey - Ari, Sal, and Albert</p>
  </footer>
</body>

</html>