{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tic Tac Toe | ClassForum+</title>
  <link rel="stylesheet" href="{% static 'tic_tac_toe.css' %}">
  <link rel="icon" type="image/png" href="{% static 'Imaging-Website-Icons-1.webp' %}">
</head>

<body>

  <div class="game">
    <h1>Tic Tac Toe</h1>
    <div id="status">Player X's turn</div>

    <div class="board" id="board">
      <div class="cell" data-cell></div>
      <div class="cell" data-cell></div>
      <div class="cell" data-cell></div>
      <div class="cell" data-cell></div>
      <div class="cell" data-cell></div>
      <div class="cell" data-cell></div>
      <div class="cell" data-cell></div>
      <div class="cell" data-cell></div>
      <div class="cell" data-cell></div>
    </div>

    <button id="reset">Reset Game</button>
  </div>
  <script src="{% static 'tic_tac_toe.js' %}"></script>
</body>

</html>